@use "/src/scss/abstracts/mixins" as *;

.modalContent {
  width: 800px;
  height: fit-content;
  min-height: 300px;
  padding: 20px 20px 20px 40px;
  border-radius: 10px;
  background-color: white;
  @include medium {
    width: 600px;
    min-height: 200px;
  }
  @include small {
    width: 330px;
    min-height: 150px;
    padding: 20px;
  }
  .closeBtn {
    position: relative;
    top: -12px;
    margin-left: auto;
    width: fit-content;
    height: fit-content;
    font-size: 2rem;
    rotate: 45deg;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    @include medium {
      top: -10px;
      font-size: 1.6rem;
    }
    @include small {
      top: -6px;
      font-size: 1.3rem;
    }
  }
  .title {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 50px;
    margin-top: -20px;
    @include medium {
      font-size: 2rem;
      margin-bottom: 40px;
    }
    @include small {
      font-size: 1.5rem;
      margin-bottom: 30px;
    }
  }
  .currencies {
    .currency {
      display: flex;
      align-items: center;
      gap: 3rem;
      margin-bottom: 10px;
      @include small {
        gap: 2rem;
      }
      .name {
        font-size: 2rem;
        font-weight: 600;
        @include medium {
          font-size: 1.5rem;
        }
        @include small {
          font-size: 1rem;
        }
      }
      .amount {
        font-size: 2rem;
        @include medium {
          font-size: 1.5rem;
        }
        @include small {
          font-size: 1rem;
        }
      }
    } 
  }
}