@use "/src/scss/abstracts/mixins" as *;

.container {
  display: flex;
  justify-content: center;
  height: 360px;
  @include medium {
    height: 297px;
  }
  @include small {
    min-height: 200px;
    height: auto;
    margin-bottom: 20px;
  }
  .currencyDetailsTable {
    width: 100%;
    margin-bottom: 40px;
    margin-top: 40px;
    border: 1px solid #dddddd;
    border-collapse: collapse;
    @include medium {
      margin-bottom: 40px;
    }
    @include small {
      margin-top: 20px;
      margin-bottom: 0;
    }
    th {
      display: none;
    }
    td {
      border: 1px solid #dddddd;
      padding: 5px;
      font-size: 1.5rem;
      @include medium {
        font-size: 1rem;
      }
      @include small {
        font-size: 0.875rem;
      }
    }
  }
}
