@use "/src/scss/abstracts/mixins" as *;

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 470px;
  @include medium {
    height: 466px;
  }
  @include small {
    height: 390px;
  }
}
.tableContainer {
  overflow: auto;
  position: relative;
  .table {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
    border-collapse: collapse;
    th {
      padding: 5px;
      background: #efefef;
      border: 1px solid #dddddd;
      font-size: 1.5rem;
      font-weight: bold;
      @include medium {
        font-size: 1.2rem;
      }
      @include small {
        font-size: 0.8rem;
      }
    }
    tbody tr {
      cursor: pointer;
    }
    td {
      border: 1px solid #dddddd;
      padding: 5px;
      font-size: 1.2rem;
      @include medium {
        font-size: 1rem;
      }
      @include small {
        font-size: 0.8rem;
      }
    }
    .plus {
      font-size: 1.5rem;
      font-weight: 600;
      text-align: center;
      @include small {
        font-size: 1rem;
      }
    }
  }
}
